$primary_color = #d83454;
$secondary_color = #414042;

@font-face {
  font-family: MuseoSans;
  font-weight: 100;
  src: url(../font/MuseoSans-100.otf);
}

@font-face {
  font-family: MuseoSans;
  font-weight: 300;
  src: url(../font/MuseoSans-300.otf);
}

@font-face {
  font-family: MuseoSans;
  font-weight: 500;
  src: url(../font/MuseoSans_500.otf);
}

@font-face {
  font-family: MuseoSans;
  font-weight: 700;
  src: url(../font/MuseoSans_700.otf);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: MuseoSans;
}

.full_page_content {
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.header {
  background-color: $primary_color;
  padding-top: 250px;
  box-sizing: border-box;
}

.section1 {
  padding-top: 250px;
  background-color: #f1f2f2;
}

.section2 {
  padding-top: 250px;
  background-color: #f1f2f2;
}

.section3 {
  padding-top: 250px;
  background-color: #f1f2f2;
}

.services {
  padding-top: 100px;
  background-color: #fff;
}

.clients {
  padding-top: 100px;
  background-color: #f1f2f2;
}

.map {
  padding-top: 100px;
  background-color: #f1f2f2;
}

.contact {
  background-color: #f1f2f2;
}

.centered_image {
  margin: auto;
  display: block;

}

img#logo {
  height: 400px;
}

img#section1_img, img#section2_img, img#section3_img {
  height: 400px;
}

.next_btn {
  height: 65px;
  width: 65px;
  background-size: 100% 100%;
  padding: 0;
  border: none;
  background-color: initial;
  margin: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
}

.next_btn.white {
  background-image: url(../assets/Geek-Label-Website-001_40_2.png);
}

.next_btn.colored {
  background-image: url(../assets/Geek-Label-Website-001_50_3.png);
  height: 70px;
  width: 78px;
}

.next_btn.mapmarker {
  background-image: url(../assets/Geek-Label-Website-001_49.png);
  height: 78px;
  width: 78px;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  outline: 0;
}

.next_btn.dark {
  background-image: url(../assets/Geek-Label-Website-001_40.png);
}

.round_box {
  width: 240px;
  height: 240px;
  background-color: $primary_color;
  border-radius: 50%;
  display: inline-block;
  margin: 0 35px;
}

.client_box {
  width: 270px;
  height: 160px;
  display: inline-block;
  margin: 0 35px;
}

.round_container, .client_container {
  text-align: center;
  position: relative;
}

.round_box > img, .client_box > img {
  height: 100%;
  width: 100%;
}

div.logo_text {
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 100;
  width: 715px;
  margin: auto;
}

div.section_text {
  text-align: center;
  color: $secondary_color;
  font-size: 40px;
  font-weight: 300;
  margin: auto;
  padding-top: 130px;
}

div.section_text > .highlight {
  color: $primary_color;
}

.services_text, .clients_text, .map_text, .contact_text {
  text-align: center;
  font-size: 80px;
  font-weight: 300;
  color: $secondary_color;
  padding-bottom: 200px;
}

.map_text {
  padding-bottom: 70px;
}

.contact_text {
  padding-top: 100px;
  padding-bottom: 50px;
}

div.map_img {
  background-image: url(../assets/Geek-Label-Website-001_47.png);
  width: 100%;
  height: 407px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

input.contact_textbox, .contact_textarea {
  height: 70px;
  border: 3px solid #cccccc;
  border-radius: 3px;
  font-size: 25px;
  display: block;
  margin: 35px auto;
  padding: 5px 20px;
  width: 550px;
  font-family: MuseoSans;
  font-weight: 300;
  color: $secondary_color;
  outline: 0;
  box-sizing: border-box;
}

.contact_textarea {
  height: 170px;
  padding-top: 20px;
  resize: none;
}

button.contact_btn {
  width: 550px;
  display: block;
  margin: auto;
  padding: 5px 20px;
  font-family: MuseoSans;
  font-weight: 300;
  font-size: 25px;
  height: 70px;
  border: none;
  background-color: $primary_color;
  color: #fff;
  border-radius: 3px;
  outline: 0;
  cursor: pointer;
}

span.contact_phone {
  height: 70px;
  font-size: 25px;
  display: block;
  text-align: center;
  font-family: MuseoSans;
  font-weight: 300;
  color: $secondary_color;
  margin-top: 40px;

}

.services_round_text {
  color: $secondary_color;
  font-size: 28px;
  font-weight: 300;
  margin-top: 25px;
}

button.client_prev, button.client_next {
  border: none;
  height: 32px;
  width: 25px;
  background: url(../assets/Geek-Label-Website-0012_37.png) no-repeat;
  position: absolute;
  left: 100px;
  top: 65px;
  outline: 0;
  cursor: pointer;
}

button.client_next {
  right: 100px;
  left: initial;
  background: url(../assets/Geek-Label-Website-0012_38.png) no-repeat;
}

.marker_text {
  background-color: #fff;
  width: 250px;
  padding: 20px;
  font-weight: 100;
  color: $secondary_color;
  position: absolute;
  left: 400px;
  top: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px #A7A6A8;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 112px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
  left: -10px;
  top: 57px;
  position: absolute;
}

.client_nav_btn_container{
  display: none;
}